
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.cameras-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.camera {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.camera h2 {
    margin-bottom: 10px;
}
.camera p {
    margin-bottom: 10px;
}
.camera img {
    max-width: 100%;
    margin-bottom: 10px;
}
.add-camera-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.add-camera-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}
.add-camera-form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.add-camera-form button:hover {
    background-color: #0056b3;
}

.camera {
    position: relative;
}
.sirene-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.sirene-button:hover {
    background-color: #cc0000;
}