body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.ocorrencia-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ocorrencia-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.ocorrencia-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}
.ocorrencia-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.ocorrencia-form button:hover {
    background-color: #0056b3;
}